chromadb==1.5.9
fastapi==0.139.0
langchain
langchain-classic
langchain-community
langchain-core
langchain-openai
langchain-protocol
langchain-text-splitters
langgraph==1.2.9
langgraph-checkpoint==4.1.1
langgraph-prebuilt==1.1.0
langgraph-sdk==0.4.2
openai==2.45.0
pydantic==2.13.4
pydantic-settings==2.14.2
pydantic_core==2.46.4
python-dotenv==1.2.2
requests==2.33.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
streamlit==1.59.2
tavily-python==0.7.26
uvicorn==0.51.0
